<div class="toolbar">
    <h5>LOGO</h5>
</div>
<div class="study-list-row">
    <div class="study-list-container">
        <div class="study-container-header">
            <ol class="breadcrumb">
                <li>
                    <a class="breadcrumb-text breadcrumb-link" (click)="gotoPatientList();">
                        Patients
                    </a>
                </li>
                <li>
                    <span class="breadcrumb-text"> > {{selectedPatient.patientData && selectedPatient.patientData.name ?selectedPatient.patientData.name : NOT_APPLICABLE}}</span>
                </li>
            </ol>
            <div class="selectStudyMsg">
                Select study to attach
            </div>
        </div>
        <hr>
        <div class="patient-banner">
            <div class="patient-name ellipsis" title="{{selectedPatient.patientData.name || NOT_APPLICABLE}}">{{selectedPatient.patientData.name || NOT_APPLICABLE}}</div>
            <div class="patient-item">
                <div class="patient-label">Patient ID</div>
                <div class="patient-id ellipsis" title="{{selectedPatient.patientData.id || NOT_APPLICABLE}}">{{selectedPatient.patientData.id || NOT_APPLICABLE}}</div>
            </div>
            <div class="patient-item">
                <div class="patient-label">Gender</div>
                <div class="patient-gender" translate="">{{selectedPatient.patientData.gender || NOT_APPLICABLE}}</div>
            </div>
            <div class="patient-item">
                <div class="patient-label">DOB</div>
                <div class="patient-dob">{{selectedPatient.patientData.dob | date: 'dd MMM yyyy' || NOT_APPLICABLE}}</div>
            </div>
            <div class="patient-item patient-item-age">
                <div class="patient-label">Age</div>
                <div class="patient-age" >{{selectedPatient.patientData.age || NOT_APPLICABLE}}</div>
            </div>
        </div>
        <div class="study-list-container-table">
            <div class="study-list-tabulardata">
                <div class="study-list-table-widget">
                    <table class="study-list-table-widget-tbl">
                        <thead class="study-list-table-widget-header">
                            <tr>
                                <td class="multiselect-cell">
                                    <input id="table-widget-select-all" type="checkbox" [checked]="selectedPatient.patientData.selectAll" (change)="toggleAll();">
                                </td>
                                <td>File Name</td>
                                <td>Accession No</td>
                                <td>Modality</td>
                                <td>Study Date</td>
                                <td>Size</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="study-list-table-widget-row" *ngFor="let study of studyList">
                                <td class="multiselect-cell">
                                    <input id="table-widget-select-one" type="checkbox" [checked]="study.isSelected" (change)="toggleOne(study);">
                                </td>
                                <td class="study-name truncate-text" title="{{study.description || N/ANOT_APPLICABLE}}">{{study.description || NOT_APPLICABLE}}</td>
                                <td>{{study.accessionNumber || NOT_APPLICABLE}}</td>
                                <td>{{study.modality || NOT_APPLICABLE}}</td>
                                <td>{{study.studyDate | date: 'dd MMM yyyy' || NOT_APPLICABLE}}</td>
                                <td>{{study.size || NOT_APPLICABLE}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="study-list-footer flex centered">
            <span id="detailsDisplay" class="entries">Showing {{studyList.length}} entries</span>
            <div class="flex-grow-proportionate">
            </div>
            <span>
                <button id="attachStudies" class="btn btn-primary btn-sm attachStudiesBtn" type="button" [disabled]="noOfStudiesSelected === 0" (click)="uploadSelectedStudies()">Upload {{noOfStudiesSelected}} Files</button>
            </span>
            <span>
                <button id="cancel" class="btn btn-outline-primary btn-sm cancelBtn" type="button" (click)="cancelUpload()">Cancel</button>
            </span>
        </div>
    </div>
</div>
