.patient-list-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.patient-list-row {
    .patient-list-container {
        border: 1px solid #d8d8d8;
        border-radius: 5px;
        background-color: #ffffff;
        height: 600px;
        width: 895px;
        display: block;
    }

    .patient-list-container {
        hr {
            border: 1px solid #dadada;
        }

        .patient-container-header {
            margin-left: 15px;
        }

        .patient-container-header {
            .selectedPatientMsg {
                font-size: 16px;
                color: #4a4a4a;
                margin-bottom: 22px;
            }

            .breadcrumb {
                margin-bottom: 0;
                background-color: #ffffff;
                padding-left: 0;
                padding-bottom: 0;
            }

            .breadcrumb {
                li {
                    font-size: 27px;
                }

                .breadcrumb-text {
                    color: #4a4a4a;
                }
            }
        }

        .patient-list-container-table {
            max-height: 430px;
            overflow-y: auto;
        }

        .patient-list-container-table {
            .patient-list-tabulardata {
                display: block;
                padding: 0 15px;
            }

            .patient-list-tabulardata {
                .patient-list-table-widget {
                    border-bottom: 1px solid #dadada;
                    margin-bottom: 21px;
                    text-align: left;
                    color: #4a4a4a;
                    font-size: 16px;
                    background-color: #ffffff;
                }

                .patient-list-table-widget {
                    .patient-list-table-widget-tbl {
                        width: 100%;
                    }

                    .patient-list-table-widget-tbl {
                        .patient-list-table-widget-header {
                            color: #4a4a4a;
                            height: 60px;
                            font-weight: bold;
                            border-bottom: 4px solid #cdd3f0;
                        }

                        .patient-list-table-widget-header {
                            td {
                                padding: 10px;
                            }
                        }

                        .patient-list-table-widget-row {
                            height: 60px;
                            border-top: 1px solid #CDD3F0;
                        }

                        .patient-list-table-widget-row:nth-child(odd) {
                            background-color: #f9f9f9;
                        }

                        .patient-list-table-widget-row:hover {
                            background-color: #d8d8d8;
                        }

                        .patient-list-table-widget-row {
                            td {
                                padding: 10px;
                                vertical-align: middle;
                            }

                            td.patient-name {
                                max-width: 230px;
                                width: 230px;
                            }

                            td.patient-id {
                                max-width: 95px;
                                width: 95px;
                            }

                            td.truncate-text {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            td {
                                span {
                                    color: #0098d6;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }

        .patient-list-footer {
            border-top: 1px solid #d8d8d8;
            height: 60px;
            position: absolute;
            bottom: 0;
            width: 894px;
            align-items: center;
            display: flex;
        }

        .patient-list-footer {
            span.entries {
                display: inline-block;
                font-size: 16px;
                color: #9b9b9b;
                margin-left: 15px;
                position: relative;
                top: -5px;
            }

            button.cancelBtn {
                width: 115px;
                margin: 15px 15px 15px 0;
                position: relative;
                top: -5px;
            }

            div.flex-grow-proportionate {
                flex-grow: 1;
            }
        }
    }
}

@media screen and (max-height: 610px) and (max-width: 810px) {
    .patient-list-row {
        .patient-list-container {
            border: 1px solid #d8d8d8;
            border-radius: 5px;
            background-color: #ffffff;
            height: 552px;
            width: 780px;
            display: block;
        }

        .patient-list-container {
            .patient-list-footer {
                border-top: 1px solid #d8d8d8;
                height: 60px;
                position: absolute;
                bottom: 0;
                width: 779px;
                align-items: center;
                display: flex;
            }

            .patient-list-container-table {
                max-height: 380px;
                overflow-y: auto;
            }
        }
    }
}