<!-- Note -->
<div class="toolbar">
    <h5>LOGO</h5>
</div>
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h5>Upload CD/DVD/Local DICOM</h5>
  <button class="btn btn-primary" (click)="refreshTransactionTable()">Refresh Logs</button>
</nav>

<!-- The flexible grid (content) -->
<div class="row">
  <div class="side">
    <p>(<span>*</span>) Required</p>
    <h6>Add Attachments ({{addedFiles.length}} attachments)</h6>
    
    <button type="button" class="btn btn-secondary btn-lg" id="browseButton" [disabled]="parsingProgress > 0" #browseButton>
      <i class="fas fa-compact-disc"></i>
      <span>Add Imaging from CD/DVD/Local DICOM</span>
    </button>
    <p class="label">Message <span>*</span></p>
    <textarea rows="4" cols="62" maxlength="500" placeholder="Enter a message (Max. 500 characters)" [(ngModel)]="uploadMessage" required></textarea>
    <br>
    <br>
    <div>
      <button type="button" class="btn btn-primary" [disabled]="addedFiles.length === 0 || parsingProgress > 0" (click)="startParsing()">Parse</button>
    </div>
    <br>
    <br>
    <div *ngIf="parsingProgress > 0" class="progress upload-progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': parsingProgress + '%'}">{{parsingProgress}}% - {{addedFiles.length}} File(s)</div>
    </div>
    <h6 *ngIf="parsingProgress > 0">Parsing in progress, please wait...</h6>
  </div>


  <div class="main">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="single-column"><div>User Name</div></th>
          <th scope="col"><div>Message</div></th>
          <th scope="col" class="single-column"><div>Start Date</div></th>
          <th scope="col" class="single-column"><div>End Date</div></th>
          <th scope="col" class="single-column"><div>Status</div></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of uploadTransactions.data">
          <td>{{transaction.updatedby}}</td>
          <td>{{transaction.message}}</td>
          <td>{{transaction.startdate | date: 'dd MMM yyyy' }}</td>
          <td>{{transaction.enddate | date: 'dd MMM yyyy' }}</td>
          <td *ngIf="transaction.uploadProgress > 0">
            <div class="progress upload-progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': transaction.uploadProgress + '%'}">{{transaction.uploadProgress}}%</div>
            </div>
          </td>
          <td *ngIf="!transaction.uploadProgress || transaction.uploadProgress === 0" title="{{transaction.error}}" [ngClass]="{'table-active': transaction.status === 'Pending', 'table-success': transaction.status === 'Success', 'table-danger': transaction.status === 'Failed'}">{{transaction.status}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!uploadTransactions.data || uploadTransactions.data.length === 0">
      <i class="fas fa-envelope"></i>
      <p>No logs found</p>
    </div>
  </div>
</div>
