* {
    box-sizing: border-box;
}
  
/* Style the body */
body {
    color: #807c7c;
    margin: 0;
}

.toolbar {
    height: 50px;
    width: 100%;
    background-color: black;
}

.toolbar {
    h5 {
        color: white;
        padding: 14px;
    }
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    box-shadow: 0 2px #e0dada;
    padding: 3px 3px 3px 13px;
}

.navbar {
    h5 {
        margin-bottom: 0;
    }

    button {
        margin-left: auto;
    }
}
  
/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
  
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 40%;
    background-color: white;
    padding: 20px;
    height: 550px;
}

.side {
    p {
        span {
            color: red;
        }
    }

    p.label {
        margin-bottom: 0rem;
    }

    button.btn-lg {
        margin: 10px 0 25px 0;
        background-color: #d8d8d8;
        border: none;
        color: black;
    }

    button.btn-lg {
        i {
            font-size: 40px;
            position: relative;
            top: 1px;
        }

        span {
            margin: 15px;
            position: relative;
            top: -6px;
            word-break: break-all;
        }
    }

    button {
        margin: 10px;
    }

    textarea {
        background-color: #efefef;
        border-radius: 5px;
        padding: 5px;
    }

    div {
        text-align: center;
    }

    input[type='file'] {
        position: absolute;
        top: -100px;
        left: -100px;
        display: none;
    }
}
  
/* Main column */
.main {
    flex: 60%;
    background-color: white;
    border-left-style: groove;
}

.main {
    table {
        thead {
            tr {
                th {
                    div {
                        text-align: center;
                    }
                }

                th.single-column {
                    width: 15%;
                }
            }
        }

        tbody {
            tr {
                td {
                    text-align: center;
                }
            }
        }
    }

    div {
        text-align: center;
    }

    div {
        p {
            font-weight: bold;
        }

        i {
            font-size: 50px;
            margin-top: 20px; 
        }
    }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {   
        flex-direction: column;
    }

    .navbar {
        button {
            margin-left: unset;
        }
    }

    .main {
        border-left-style: none;
        border-top-style: groove;
    }
}