* {
    box-sizing: border-box;
}
  
/* Style the body */
body {
    color: #807c7c;
    margin: 0;
}

.toolbar {
    height: 50px;
    width: 100%;
    background-color: black;
}

.toolbar {
    h5 {
        color: white;
        padding: 14px;
    }
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    box-shadow: 0 2px #e0dada;
    padding: 3px 3px 3px 13px;
}

.navbar {
    h5 {
        margin-bottom: 0;
    }

    button {
        margin-left: auto;
    }
}